#about-link-btn {
    background-color:aliceblue;
    color:#f0f8ff;
    border: none;
    padding: 12px 24px;
    border-radius: 8px;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
}

#about-link-btn:hover {
    box-shadow: 0 0 10px #02e3ff;
}